{% extends 'main/base.html' %}
{% block content %} 
<main class="login">
    <div class="form p-5" style="min-height: 150px;">
        <h3>Parolni o'zgartirish</h3>
        <form form method="post">
          {% csrf_token %}
          <div class="input-block">
            <i class="fa-light fa-key"></i>
            {{ form.old_password }}
            {% if form.old_password.errors %}
            <i class="fa-solid fa-triangle-exclamation text-danger"></i>
            {% endif %}
        </div>
        <br>
          <div class="input-block">
            <i class="fa-light fa-key"></i>
            {{ form.new_password1}}
            {% if form.new_password1.errors %}
            <i class="fa-solid fa-triangle-exclamation text-danger"></i>
            {% endif %}
            </div>
          <div class="input-block">
            <i class="fa-light fa-key"></i>
            {{ form.new_password2}}
            {% if form.new_password2.errors %}
            <i class="fa-solid fa-triangle-exclamation text-danger"></i>
            {% endif %}
            <br>
            </div>
            <br>
            <input type="submit" value="O‘zgartirish" class="btn btn-submit">
            <br><br>
        </form>
      </div>
</main>
{% endblock content %}
{% block code %}
<script>
    let input = document.querySelectorAll('input');
    let value = ['', 'Eski Parolingiz', 'Yangi parolingiz', 'Parolni tasdiqlang']
    for (var i = 0; i < input.length; i++) {
        input[i].setAttribute('autocomplete', 'off')
        input[i].setAttribute('placeholder', `${value[i]}`)
    }

</script>
{% endblock %}