{% extends "advert/base.html" %}
{% load static %}
{% block content %}
<header>
    <section class="add_advert">
        <h1>E’lon Joylash</h1>
        <div class="row">
            <div class="col-lg-7">
                <div class="white-card">
                    <form method="post" enctype="multipart/form-data" class="row">
                        <div class="col-sm-6">
                            {% csrf_token %}
                            <input type="file" name="image" accept="image/*" required="" id="id_image"
                                class="value-input" placeholder="" style="display: none;">
                            <label for="id_image">
                                <img src="/static/img/select_img.png" alt="image" id="uploadImg"
                                    style="max-height: 400px; width: 100%;">
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                {{ form.title }}
                                {{ form.author_pen }}

                                {{ form.genre }}
                                {{ form.description }}
                                <br class="">
                                <button class="btn" type="submit">
                                    Qabul qilish
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="white-card">
                    <div class="about-user">
                        <h2 class="mr-3">Foydalanuvchi</h2>
                        <div class="user-componet">
                            <img src="{{request.user.avatar.url}}" alt="">
                            <div class="user-bio">
                                <h3 style="text-transform: capitalize;">{{request.user.name}} {{request.user.surname}}
                                </h3>
                                <h5>Last seen: {{request.user.updated_at }}</h5>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <strong>Foydalanuvchi nomi:</strong>
                                <span>@{{request.user.username }}</span>
                            </li>
                            <li>
                                <strong>Joylashuv:</strong>
                                <span>{{request.user.address}} Shaxri</span>
                            </li>
                            <li>
                                <strong>Telefon raqimi:</strong>
                                <span>{{request.user.phone}}</span>
                            </li>
                        </ul>
                        <br>
                        <a href="tel: {{request.user.phone}}" class="text-light">
                            <button class="btn">
                                Qong'iroq
                            </button>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
</header>
<section class="center">
    <h1>Mening E’lonlarim</h1>
    <div class="edit-section mt-5 ">
        <div class="row">
            {% if form.errors %}
              {{form.errors}}
            {% endif %}
            {% for  book in  books %}
            <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <a href="{% url 'main:detail' book.slug%}" style="text-decoration: none;" class="text-dark">
                      <img src="{{ book.image.url}}" alt="" style="    width: 100%;  max-height: 300px;">
                  </a>
                  <div class="row">
                      <div class="col-10">
                        <ul>
                            <li>
                                <strong>Nomi:</strong>
                                <span>{{ book.title}}</span>
                            </li>
                            <li>
                                <strong>Avtori:</strong>
                                <span>{{ book.author_pen}}</span>
                            </li>
                            <li>
                                <strong>Janri:</strong>
                                <span>{{ book.genre}}</span>
                            </li>
                        </ul>
                        {% if book.is_checked %}
                        <span class="fa-solid fa-check">&nbsp &nbsp Sotuvda qoyildi</span>
                        {% else %}
                          {% if book.is_view %}
                              <span class="fa-solid fa-ban">&nbsp sotish taqiqlandi</span>
                          {% else %}
                              <span class="fa-solid fa-envelopes-bulk">&nbsp korib chiqilmoqda</span>
                          {% endif %}
                        {% endif %}
                        <br>
                        <span class="about-box">{{book.author.address}} <br> {{book.created_at}}</span>
                    </div>
                    <div class="col-2">
                        <i class="fa-solid fa-ellipsis-vertical dropdown-button p-1 btn"></i>
                        <div class="dropdown">
                            <ul>
                                <li>
                                    <a href="{% url 'main:edit' book.slug %}" class="text-dark" style="text-decoration: none;">
                                      Tahrirlash
                                  </a>
                                </li>
                                <li>
                                    <a href="{% url 'main:delete' book.slug %}" class="text-dark" style="text-decoration: none;">O'chirish</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
           {% endfor %}
        </div>
    </div>
    </div>
</section>
<style>
    .center{
        margin: 120px 10% 0 10%;
    }
</style>
{% endblock %}

{% block code %}
<script src="/static/js/resizer_image.js"></script>
<script>
    let input = document.querySelectorAll('input');
    for (var i = 0; i < input.length; i++) {
        arr = ['', '', 'Sarlavha', 'Muallif']
        input[i].classList.add('value-input')
        input[i].setAttribute('placeholder', `${arr[i]}`)
        input[i].setAttribute( 'autocomplete',"off")
    }
    let textArea = document.querySelectorAll('textarea')[0];
    textArea.classList.add('value-input');
    textArea.setAttribute('placeholder', 'Qoshimcha xabar');
    textArea.attributes['cols'].nodeValue = "12";
    textArea.attributes['rows'].nodeValue = "4";
    let input_file = document.querySelector('#id_image');
    input_file.style = 'display: none;'
    let target = document.querySelector('#uploadImg')
    let file;

    input_file.addEventListener("change", (event) => {
        event.preventDefault();
        file = event.target.files[0]
        showFile();
    });

    function showFile() {
        let fileType = file.type;
        let validExtensions = ["image/jpeg", "image/jpg", "image/png"];
        if (validExtensions.includes(fileType)) {
            let fileReader = new FileReader();
            fileReader.onload = () => {
                let fileURL = fileReader.result;
                target.attributes.src.nodeValue = `${fileURL}`
            }
            fileReader.readAsDataURL(file);
        } else {
            alert("This is not an Image File!");
        }
    }

$('#id_image').imageUploadResizer({
    max_width: 360, 
    max_height: 360, 
    quality: 1, 
    do_not_resize: ['gif', 'svg'],
});
</script>
{% endblock %}
